<div {{ stimulus_controller('locale') }} data-url="{{ path('app_locale') }}">
    <a href="#" {{ stimulus_action('locale','changeLocale') }} data-locale="en">en</a>
    <a href="#" {{ stimulus_action('locale','changeLocale') }} data-locale="el">el</a>
</div>